<div class="row">
  <div class="col-md-3">
    <%= link_to "logo", root_path, :class => 'brand' %>
  </div>
  <div class="col-md-2">
    <!--<a href="#menu-toggle" class="btn-sm btn-info" id="menu-toggle">Encolher Menu</a>-->
  </div>
  <div class="col-md-7" style="text-align: right;"">
    <% if current_user.present? %>
      Olá <%= current_user.login.capitalize %>
      &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
      <% if user_signed_in? %>
        <%= link_to('Sair', destroy_user_session_path, :method=>'delete') %>
      <% end %>
    <% end %>
  </div>
</div>
