<div id="sidebar-wrapper">
  <div style="text-align: center; color: #ffffff;">
    <h3>Módulos</h3>
  </div>
  <div style="padding: 5px;">
    <div class="list-group">
      <a href="/" class="list-group-item">Home</a>
      <a href="#" class="list-group-item">Restaurantes</a>
      <a href="#" class="list-group-item">Pratos</a>
    </div>
  </div>
</div>
