<div id="sidebar-wrapper">
<!--
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a href="#">
        Módulos MSR
      </a>
    </li>
    <li>
      <a href="#">Dashboard</a>
    </li>
    <li>
      <a href="#">Dashboard</a>
    </li>
    <li>
      <a href="#">Dashboard</a>
    </li>
  </ul>
-->
  <div style="text-align: center; color: #ffffff;">
    <h3>Módulos MSR</h3>
  </div>
  <div style="padding: 5px;">
  <div class="list-group">
    <a href="#sub-menu" class="list-group-item" data-toggle="collapse" data-parent="#main-menu">Item 1 <span class="caret"></span></a>
    <div class="collapse list-group-level1" id="sub-menu">
      <a href="#" class="list-group-item" data-parent="#sub-menu">Sub Item 1</a>
      <a href="#" class="list-group-item" data-parent="#sub-menu">Sub Item 2</a>
      <a href="#sub-sub-menu" class="list-group-item" data-toggle="collapse" data-parent="#sub-menu">Sub Item 3 <span class="caret"></span></a>
      <div class="collapse list-group-level2" id="sub-sub-menu">
        <a href="#" class="list-group-item" data-parent="#sub-sub-menu">Sub Sub Item 1</a>
        <a href="#" class="list-group-item" data-parent="#sub-sub-menu">Sub Sub Item 2</a>
        <a href="#" class="list-group-item" data-parent="#sub-sub-menu">Sub Sub Item 3</a>
      </div>
    </div>
    <a href="#" class="list-group-item">Item 2</a>
    <a href="#" class="list-group-item">Item 3</a>
    <a href="#" class="list-group-item">Item 4</a>
    <a href="#" class="list-group-item">Item 5</a>
    <a href="#sub-menu1" class="list-group-item" data-toggle="collapse" data-parent="#main-menu">Item 1 <span class="caret"></span></a>
    <div class="collapse list-group-level1" id="sub-menu1">
      <a href="#" class="list-group-item" data-parent="#sub-menu">Sub Item 1</a>
      <a href="#" class="list-group-item" data-parent="#sub-menu">Sub Item 2</a>
      <a href="#sub-sub-menu1" class="list-group-item" data-toggle="collapse" data-parent="#sub-menu">Sub Item 3 <span class="caret"></span></a>
      <div class="collapse list-group-level2" id="sub-sub-menu1">
        <a href="#" class="list-group-item" data-parent="#sub-sub-menu">Sub Sub Item 1</a>
        <a href="#" class="list-group-item" data-parent="#sub-sub-menu">Sub Sub Item 2</a>
        <a href="#" class="list-group-item" data-parent="#sub-sub-menu">Sub Sub Item 3</a>
      </div>
    </div>
  </div>
  </div>
</div>
